{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% block content %}
<h1>Contact</h1>
<h2>Joseph McGuire</h2>
<p>Phone: +1(805)468-5639</p>
<p>Email: <a href="mailto:joseph.c.mcg@gmail.com">joseph.c.mcg@gmail.com</a></p>
<p>LinkedIn: <a href="https://linkedin.com/in/joseph-c-mcg">joseph-c-mcg</a></p>
<p>GitHub: <a href="https://github.com/joseph-c-mcguire">joseph-c-mcguire</a></p>
<p>Website: <a href="https://joseph-c-mcguire.github.io">joseph-c-mcguire.github.io</a></p>

<h2>Lucas Domulevicz</h2>
<p>Email: <a href="mailto:lkdomulevicz@gmail.com">lkdomulevicz@gmail.com</a></p>
<p>LinkedIn: <a href="https://linkedin.com/in/lkdomulevicz137">lkdomulevicz137</a></p>
<p>Portfolio: <a href="https://lkdomule137.github.io/Lucas_Domulevicz_Portfolio/">Lucas Domulevicz Portfolio</a></p>

<h2>Travis Kessler</h2>
<p>Email: <a href="mailto:travis.j.kessler@gmail.com">travis.j.kessler@gmail.com</a></p>
<p>Website: <a href="https://traviskessler.com">traviskessler.com</a></p>
<p>LinkedIn: <a href="https://linkedin.com/in/traviskessler">LinkedIn</a></p>
{% endblock %}
