/* General Styles */
body {
    background: linear-gradient(to right, #3a6073, #16222a); /* Blue-grey gradient background */
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
    padding-top: 0;
    line-height: 1.6;
    letter-spacing: 0.5px;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    color: #ffffff;
    margin: 1rem 0;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    font-size: 1.75rem;
    font-weight: 500;
}

h4 {
    font-size: 1.5rem;
    font-weight: 500;
}

h5 {
    font-size: 1.25rem;
    font-weight: 400;
}

h6 {
    font-size: 1rem;
    font-weight: 400;
}

/* Paragraphs */
p {
    font-size: 1rem;
    line-height: 1.6;
    margin: 1rem 0;
    margin-bottom: 1.5rem;
}

/* Links */
a {
    color: #1abc9c; /* Light blue color for links */
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #16a085; /* Darker blue color on hover */
    text-decoration: underline;
}

button {
    background-color: #1abc9c; /* Light blue color for buttons */
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 1rem;
    transition: transform 0.3s, background-color 0.3s;
    margin-top: 1rem;
}

button:hover {
    background-color: #16a085; /* Darker blue color on hover */
    transform: scale(1.05);
}

.alert {
    background-color: #c0392b; /* Red color for alerts */
    color: white;
    padding: 1rem;
    margin: 1rem 0;
    animation: fadeIn 0.5s ease-in-out;
}

main {
    padding: 1rem;
    padding-bottom: 3rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    min-height: calc(100vh - 200px); /* Adjust height to account for header and footer */
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}